.product-img {
    width: 300px;
    height: auto;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 25px 25px;
    transition: box-shadow 0.5s;
}

.product-card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: box-shadow 0.5s;
}

.product-details {
    display: flex;
}

.product-details div:nth-child(1) {
    margin-right: auto;
}

.product-details div:nth-child(2) {
    margin-left: auto;
}